@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.ttf"), url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, Arial, san-serif;
  text-decoration: none;
  color: #000;
  list-style-type: none;
}

.header {
  position: relative;
  background-image: url("/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 145px;
  margin-bottom: 64px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  color: #fff;
  text-transform: uppercase;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

.logo_img {
  width: 183px;
}

.menu_list {
  display: flex;
}

.menu_item {
  margin-left: 35px;
}

.menu_link {
  color: #fff;
  font-size: 13px;
}

.menu_link:hover {
  text-shadow: 0.5px 0.5px 0.5px #fff;
  text-decoration: underline;
  
}

.title {
  width: 684px;
  margin: 145px auto 0;
  text-align: center;
  font-size: 45px;
  color: #fff;
}

.trends {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.big_title {
  font-size: 20px !important;
}

.trend_cards {
  display: flex;
}

.trend_card {
  position: relative;
  display: flex;
  width: calc((100% - 15px) / 4);
  min-height: 319px;
  align-items: end;
  padding: 20px;
  margin-right: 5px;
}

.trend_card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trend_contaner {
  display: flex;
  box-sizing: content-box;
  width: 368px;
  padding: 33px 37px;
  border: 3px solid rgba(132, 123, 84, 0.8);
  flex-direction: column;
  z-index: 1;
}

.trend_list {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.trend_link {
  font-size: 14px;
  font-weight: bold;
  color: #ae9e60;
}

.trend_title-link {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.trend_first {
  background-image: url("../images/trend1.jpg");
  background-size: cover;
}

.trend_second {
  background-image: url("images/trend2.jpg");
  background-size: cover;
}

.trend_third {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
}

.trend_fourth {
  background-image: url("/images/trend4.jpg");
  background-size: cover;
}

.news {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  align-items: start;
}

.card {
  display: flex;
  width: 794px;
  padding: 0;
  margin-bottom: 60px;
  line-height: 22px;
}

.card:last-child {
  margin-bottom: 64px;
}

.card_img {
  width: 381px;
  margin-right: 27px;
}

.image {
  width: 381px;
}

.card_list {
  display: flex;
}

.tag_link {
  color: #ad9d5f;
}

.card_item {
  text-transform: uppercase;
  font-size: 14px;
  color: #ad9d5f;
  font-weight: 700;
  margin-bottom: 5px;
}

.card_item:nth-child(1n + 2) {
  margin-left: 20px;
}

.card_title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.card_date {
  color: #868686;
  font-size: 12px;
}

.author {
  font-weight: bold;
  font-size: 12px;
  margin-left: 15px;
}

.text {
  margin-top: 40px;
  font-size: 15px;
}

.text_second_part {
  margin-top: 22px;
  font-size: 15px;
}

.aside_news {
  width: 287px;
  padding-right: 15px;
}

.new_posts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 62px;
}

.section_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 auto;
}

.section_title::after {
  content: "";
  display: block;
  background: #dfd8bf;
  width: 66px;
  height: 3px;
  margin: 14px auto 25px;
}

.new_posts_card {
  display: flex;
  align-items: start;
  margin-bottom: 22px;
}

.new_posts_card:last-child {
  margin-bottom: 60px;
}

.new_posts_card_img {
  width: 70px;
}

.news_card_content {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.card_title_aside {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 2px;
}

.search {
  display: flex;
  margin-top: 60px;
}

.text_search {
  border: none;
  width: 223px;
  background: #f5f7f6;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  font-size: 13px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search_btn {
  border: none;
  width: 48px;
  height: 48px;
  background: #ae9e5f;
  outline: none;
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}

.email_form {
  border: none;
  width: 100%;
  height: 46px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f5f7f6;
  font-size: 13px;
}

.subscribe_btn {
  border: none;
  width: 100%;
  height: 47px;
  background: #ae9e5f;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  margin-top: 18px;
}

.tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}

.tags_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.tags_item {
  border: solid 3px #ededed;
  padding: 4px 15px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.tags_link {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.topics {
  display: flex;
  flex-direction: column;
}

.topics_item {
  border-bottom: 1px solid #ededed;
  margin-bottom: 16px;
  padding-bottom: 13px;
}

.topic_link {
  font-weight: bold;
  font-size: 14px;
}

.topics_count {
  vertical-align: top;
  font-size: 12px;
  color: #ae9e5f;
  font-weight: bold;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  padding: 0 15px;
}

.shop_items {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 29px;
}

.shop_item {
  /* position: relative; */
  display: flex;
  width: 347px;
  min-height: 438px;
  flex-direction: column;
  align-items: center;
  margin-right: 66px;
}

.shop_item:last-child {
  margin-right: 0;
}

.item_img {
  display: flex;
  width: 300px;
  min-height: 204px;
}

.item_img-first {
  background-image: url("/images/shop-item-desk1.jpg");
} 

.item_img-second {
  background-image: url("/images/shop-item-desk2.jpg");
} 

.item_img-third {
  background-image: url("/images/shop-item-desk3.jpg");
} 

.item_info {
  display: flex;
  /* position: absolute;
  top: 172px; */
  margin-top: -32px;
  flex-direction: column;
  flex-grow: 1;
  border: 3px solid #cec59f;
  padding-top: 52px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 26px;
}

.item_title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
}

.card_text {
  font-size: 14px;
  margin-bottom: 24px;
}

.text_link {
  color: #ad9d5f;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.strike {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
}

.card_btn {
  width: 140px;
  height: 49px;
  background:#ae9e5f;
  text-transform: uppercase;
  border: none;

}

.btn_link {
  color: #ffffff;
  font-weight: bold;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer_top {
  background-color: #f4f7f6;
}

.footer_adress {
  width: 110px;
  margin: 0 auto;
}

.social_list {
  display: flex;
  padding: 31px 0;
}

.social_link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.icon_dribbble {
  background-image: url("/images/001-dribbble.svg");
}

.icon_pinterest {
  background-image: url("/images/002-pinterest.svg");
  margin: 0 30px;
}

.icon_tumblr {
  background-image: url("/images/003-tumblr.svg");
}

.copyright {
  margin: 74px 0 41px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.copyright_link {
  color: #989898;
}
